# -*-mode:conf-toml-*- vim:ft=toml

# ~/.local/share/chezmoi/dotfiles/.chezmoiexternal.toml.tmpl
# =============================================================================
# Used to interpreted as a list of external files and archives to be included
# as if they were in the source state.
#
# See https://www.chezmoi.io/reference/special-files/chezmoiexternal-format/
#
{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu")) -}}

{{ "" }}
{{-   if eq .apps.zsh.include true }}
{{      template "chezmoiexternal.d/common/oh-my-zsh.toml" . }}
{{    end -}}
{{-   if eq .apps.aws_cli.include true }}
{{      template "chezmoiexternal.d/common/aws_cli.toml" . }}
{{    end -}}
{{ "" }}

{{ else if eq .chezmoi.os "darwin" -}}
{{ "" }}
{{-   if eq .apps.zsh.include true }}
{{      template "chezmoiexternal.d/common/oh-my-zsh.toml" . }}
{{    end -}}

{{-   if eq .apps.aws_cli.include true }}
{{      template "chezmoiexternal.d/common/aws_cli.toml" . }}
{{    end -}}

{{-   if eq .apps.navi.include true }}
{{      template "chezmoiexternal.d/common/navi.toml" . }}
{{    end -}}
{{ "" }}
{{ else if eq .chezmoi.os "windows" -}}
{{/* Update aws cli link */}}

{{-   if eq .apps.oh_my_posh.include true -}}
{{/* TODO: Read from command line */}}
{{- $ohMyPoshVersion := "27.4.3" -}}
["marcduiker.omp.json"]
    type          = "file"
    url           = "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/v{{- $ohMyPoshVersion -}}/themes/marcduiker.omp.json"
    refreshPeriod = "168h"
{{    else -}}
{{-   end -}}

{{ else -}}
{{   fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{ end -}}
