# -*-mode:bash-*- vim:ft=bash

# {{ .chezmoi.targetFile | replaceAllRegex .chezmoi.homeDir "~" }}
# =============================================================================

{{- $my_app := .include_app.default -}}
{{- if eq .chezmoi.os "darwin" -}}
{{- $my_app = .include_app.darwin -}}
{{- else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
{{- $my_app = .include_app.ubuntu_wsl -}}
{{- end -}}

{{ if eq .chezmoi.os "linux" -}}
{{   fail (printf "File should be removed from the client system: %s" .chezmoi.os) }}
{{- else if eq .chezmoi.os "darwin" -}}
{{   template "assets.d/homebrew/dot_profile.sh.tmpl" . }}
{{   template "assets.d/bash_shared/common.sh.tmpl" . }}
{{-  if eq $my_app.fastfetch true }}

{{     template "assets.d/fastfetch/dot_profile.sh.tmpl" . }}
{{-  else -}}
{{-  end -}}

{{- else if eq .chezmoi.os "windows" -}}
# TODO: Update setup
{{- else -}}
{{   fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{ end -}}
