# -*-mode:gitconfig-*- vim:ft=gitconfig

# ~/.gitconfig
# =============================================================================
# User-specific Git configuration file.
#
# See https://git-scm.com/docs/git-config
#
{{- /* This file supports Go's text/template language. */ -}}
# Sources:
#     https://delicious-insights.com/en/posts/mastering-git-submodules/
#     https://github.com/haacked/dotfiles
#     https://github.com/holman/dotfiles
#     https://github.com/jayharris/dotfiles-windows
#     https://github.com/mathiasbynens/dotfiles
#     https://git-scm.com/docs/git-config/

[apply]
    # Detect whitespace errors when applying a patch.
    whitespace = fix

[commit]
    # # Specify template file for new commit messages.
    # template = ~/.gitmessage

[core]
    # Disable line endings output conversion.
    autocrlf = input

    # Specify excluded file pattern from commit
    excludesfile = ~/.gitignore

    # # Make `git rebase` safer on macOS.
    # # See http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/
    # trustctime = false

    # Speed up commands involving untracked files such as `git status`.
    # See https://git-scm.com/docs/git-update-index#_untracked_cache
    untrackedCache = true

[diff]
    # Disable the prompt before each invocation of the diff tool.
    prompt = false

    # List submodules commits in the range.
    submodule = log
{{ if eq .chezmoi.os "windows" }}
    # Specify diff tool to use.
	tool = bc
{{ else -}}
{{- end }}
[difftool "sourcetree"]
    # Specify the command to invoke Sourcetree.
    {{ if eq .chezmoi.os "darwin" -}}
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    {{ else if eq .chezmoi.os "windows" -}}
    cmd = '' \"$LOCAL\" \"$REMOTE\"
    {{- end }}

    # Disable the prompt before each invocation of the diff tool.
    prompt = false

[difftool "vscode"]
    # Specify the command to invoke Visual Studio Code.
	cmd = code --wait --diff $LOCAL $REMOTE

[fetch]
    # Remove any remote-tracking references that no longer exist on the remote.
    prune = true

[filter "lfs"]
    # Specify the command to convert a worktree file's content to a blob upon checkin.
    clean = git-lfs clean -- %f

    # Convert between Large File Storage pointer and actual content.
    process = git-lfs filter-process

    # Specify the command to convert a blob object's content to a worktree file upon checkout.
    smudge = git-lfs smudge -- %f

    # Turn a content that by itself is unusable into a usable content.
    required = true

# [help]
#   # Correct and execute mistyped commands.
#   autocorrect = 1

[init]
    # Set the default Git branch
	defaultBranch = main

[merge]
    # Include summaries of merged commits in newly created merge commit messages.
    log = true
{{ if eq .chezmoi.os "windows" }}
    # Specify merge tool to use.
	tool = bc
{{ else -}}
{{- end }}
[mergetool]
    # Avoid saving an `.orig` backup file after a merge.
    keepBackup = false

[mergetool "sourcetree"]
    # Specify the command to invoke Sourcetree.
    {{ if eq .chezmoi.os "darwin" -}}
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    {{ else if eq .chezmoi.os "windows" -}}
    cmd = '' \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    {{- end }}

    # Use the exit code of the merge command to determine the success status.
    trustExitCode = true

[mergetool "vscode"]
    # Specify the command to invoke Visual Studio Code.
	cmd = code --wait $MERGED

[rebase]
    # Create a temporary stash entry before the operation begins.
    autostash = true

[status]
    # Enable submodule summary of commits.
    submoduleSummary = true

[user]
    # Specify the email address of the author/committer.
    email = "{{ .git_email }}"

    # Specify the username of the author/committer.
    name = "{{ .git_user }}"

[include]
    # Include aliases.
    path = ~/.gitconfig_aliases

    # Include git-delta.
    path = ~/.gitconfig_delta

    # Include extra configuration (if any).
    path = .gitconfig_local

{{ if eq .chezmoi.os "windows" -}}
[difftool "bc"]
    # Specify the command to invoke Beyond Compare.
	path = c:/Program Files/Beyond Compare 4/bcomp.exe

[mergetool "bc"]
    # Specify the command to invoke Beyond Compare.
    cmd = "\"C:\\Program Files\\Beyond Compare 4\\Bcomp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\""
{{ else if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
[difftool "bc"]
        path = /mnt/c/Program Files/Beyond Compare 4/BComp.exe
        cmd = \"/mnt/c/Program Files/Beyond Compare 4/BComp.exe\" \"$(wslpath -aw $LOCAL)\" \"$(wslpath -aw $REMOTE)\"

[mergetool "bc"]
        path = /mnt/c/Program Files/Beyond Compare 4/BComp.exe
        cmd = \"/mnt/c/Program Files/Beyond Compare 4/BComp.exe\" \"$(wslpath -aw $LOCAL)\" \"$(wslpath -aw $REMOTE)\" \"$(wslpath -aw $BASE)\" \"$(wslpath -aw $MERGED)\"
{{ else -}}
{{- end -}}
