{{- $app := "bash" -}}
{{- $config := (index .apps $app) -}}
{{- if (ne $config.include true) -}}
{{   fail (printf "❌ Unsupported app for the client system: %s" $app) }}
{{ end -}}

# -*-mode:bash-*- vim:ft=bash

# {{ .chezmoi.targetFile | replaceAllRegex .chezmoi.homeDir "~" }}
# =============================================================================
# Executed by bash when login shell exits.

# shellcheck shell=bash

# Clear the screen when leaving the console to increase privacy.
if [ "$SHLVL" = 1 ]; then
    [ -x /usr/bin/clear_console ] && /usr/bin/clear_console -q
fi
