{{- $app := "zsh" -}}
{{- $config := (index .apps $app) -}}
{{- if (ne $config.include true) -}}
{{   fail (printf "❌ Unsupported app for the client system: %s" $app) }}
{{- end -}}
# -*-mode:zsh-*- vim:ft=zsh

# ~/.zsh_aliases
{{- if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) -}}
{{ "" }}
{{    template "assets.d/_shell/common_aliases.sh.tmpl" . }}
{{- else if eq .chezmoi.os "windows" -}}
{{ "" }}
{{- else if eq .chezmoi.os "windows" -}}
{{ "" }}
# TODO: Update {{ .chezmoi.sourceFile | replaceAllRegex .chezmoi.homeDir "~" }}
{{ "" }}
{{- else -}}
{{   fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{ end -}}
