# -*-mode:bash-*- vim:ft=bash

# {{ .chezmoi.targetFile | replaceAllRegex .chezmoi.homeDir "~" }}
# =============================================================================
# Executed by bash for non-login shells.
#
# See https://www.gnu.org/software/bash/manual/html_node/index.html

# shellcheck shell=bash
# shellcheck source=/dev/null
{{ if eq .chezmoi.os "linux" -}}
{{   template "assets.d/dot_bashrc/linux/build.sh.tmpl" . }}
{{- else if eq .chezmoi.os "darwin" -}}
{{   template "assets.d/dot_bashrc/darwin.sh.tmpl" . }}
{{- else if eq .chezmoi.os "windows" -}}

# TODO: Update setup

{{- else -}}
{{   fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{ end -}}
