# {{ .chezmoi.targetFile | replaceAllRegex .chezmoi.homeDir "~" }}
# =============================================================================

# Configure Git Bash
Font=Hack Nerd Font
FontHeight=12
