{{- $app := "bash" -}}
{{- $config := (index .apps $app) -}}
{{- if (ne $config.include true) -}}
{{   fail (printf "❌ Unsupported app for the client system: %s" $app) }}
{{ end -}}
{{- define "file_header_summary" -}}
# Executed by bash for non-login shells.
#
# See https://www.gnu.org/software/bash/manual/html_node/index.html

# shellcheck shell=bash
# shellcheck source=/dev/null
{{- end -}}
{{- $context := (dict "shell" "bash" "chezmoi" .chezmoi "is_wsl" .is_wsl "is_ubuntu_wsl" .is_ubuntu_wsl) -}}
# -*-mode:bash-*- vim:ft=bash
{{ "" }}
{{ template "files.d/header.tmpl" . }}
{{- if eq .chezmoi.os "linux" -}}
{{ "" }}
{{    template "assets.d/dot_bashrc/linux/build.sh.tmpl" . }}
{{- else if eq .chezmoi.os "darwin" -}}
{{ "" }}
{{    template "assets.d/dot_bashrc/darwin.sh.tmpl" . }}
{{- else if eq .chezmoi.os "windows" -}}
{{ "" }}
[ -f "$HOME/.bash_aliases" ] && source "$HOME/.bash_aliases"
{{- else -}}
{{    fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{- end -}}

{{- if eq .apps.python.include true }}
{{ "" }}
{{    template "assets.d/python/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}

{{- if eq .apps.dotnet.include true }}
{{ "" }}
{{    template "assets.d/dotnet/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}

{{- if eq .apps.volta.include true }}
{{ "" }}
{{   template "assets.d/volta/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}

{{- if eq .apps.aws_cli.include true }}
{{ "" }}
{{    template "assets.d/aws-cli/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}

{{- if eq .apps.chezmoi.include true }}
{{ "" }}
{{    template "assets.d/chezmoi/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}

{{- if eq .apps.clipboard_project.include false }}
{{ "" }}
{{    template "assets.d/clipboard_project/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}

{{- if eq .apps.direnv.include true }}
{{ "" }}
{{    template "assets.d/direnv/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}

{{- if eq .apps.espanso.include true }}
{{ "" }}
{{    template "assets.d/espanso/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}

{{- if eq .apps.fzf.include true }}
{{ "" }}
{{    template "assets.d/fzf/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}

{{- if eq .apps.gopass.include true }}
{{ "" }}
{{    template "assets.d/gopass/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}

{{- if eq .apps.gnupg.include true }}
{{ "" }}
{{    template "assets.d/gnupg/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}

{{- if eq .apps.kubectl.include true }}
{{ "" }}
{{    template "assets.d/kubectl/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}

{{- if eq .apps.lsd.include true }}
{{ "" }}
{{    template "assets.d/lsd/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}

{{- if eq .apps.navi.include true }}
{{ "" }}
{{    template "assets.d/navi/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}

{{- if eq .apps.rust.include true }}
{{ "" }}
{{    template "assets.d/rust/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}

{{- if eq .apps.ssh.include true }}
{{ "" }}
{{    template "assets.d/ssh/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}

{{- if eq .apps.xclip.include true }}
{{ "" }}
{{    template "assets.d/xclip/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}

{{- if eq .apps.zoxide.include true }}
{{ "" }}
{{    template "assets.d/zoxide/dot_bashrc.sh.tmpl" . }}
{{- else -}}
{{- end -}}
