# -*-mode:bash-*- vim:ft=bash

# {{ .chezmoi.targetFile | replaceAllRegex .chezmoi.homeDir "~" }}
# =============================================================================
#

{{ if eq .chezmoi.os "linux" -}}
{{   template "assets.d/dot_profile/linux/build.sh.tmpl" . -}}
{{ else if eq .chezmoi.os "darwin" -}}
{{ else if eq .chezmoi.os "windows" -}}
{{ else -}}
{{   fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{ end -}}