{{- $app := "bash" -}}
{{- $config := (index .apps $app) -}}
{{- if (ne $config.include true) -}}
{{   fail (printf "❌ Unsupported app for the client system: %s" $app) }}
{{ end -}}

# -*-mode:bash-*- vim:ft=bash

# {{ .chezmoi.targetFile | replaceAllRegex .chezmoi.homeDir "~" }}
# =============================================================================

{{- if eq .chezmoi.os "linux" -}}
{{    fail (printf "❌ File should be removed from the client system: %s" .chezmoi.targetFile) }}
{{- else if eq .chezmoi.os "darwin" -}}

{{-   if eq .apps.homebrew.include true -}}
{{ "" }}
{{      template "assets.d/homebrew/dot_profile.sh.tmpl" . }}
{{-   end -}}
{{ "" }}
{{    template "assets.d/bash_shared/common.sh.tmpl" . }}
{{ "" }}
{{-   if eq .apps.fastfetch.include true -}}
{{ "" }}
{{      template "assets.d/fastfetch/dot_profile.sh.tmpl" . }}
{{-   end -}}

{{- else if eq .chezmoi.os "windows" -}}
{{ "" }}
# TODO: Update setup
{{- else -}}
{{    fail ( printf "❌ Unsupported OS for the client system: %s" .chezmoi.os) }}
{{- end -}}
