{{- $app := "bash" -}}
{{- $config := (index .apps $app) -}}
{{- if (ne $config.include true) -}}
{{   fail (printf "❌ Unsupported app for the client system: %s" $app) }}
{{ end -}}

# -*-mode:bash-*- vim:ft=bash

# {{ .chezmoi.targetFile | replaceAllRegex .chezmoi.homeDir "~" }}
# =============================================================================
# Shell aliases sourced by `~/.bashrc` and `~/.zshrc`.

# shellcheck shell=bash
{{- if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) -}}
{{ "" }}
{{    template "assets.d/_shell/common_aliases.sh.tmpl" . }}
{{- else if eq .chezmoi.os "windows" -}}
{{ "" }}
{{    template "assets.d/_shell/common_aliases.sh.tmpl" . }}
{{- else -}}
{{   fail (printf "❌ Unsupported OS for the client system: %s" .chezmoi.os) }}
{{- end -}}
