# -*-mode:bash-*- vim:ft=bash

# {{ .chezmoi.targetFile | replaceAllRegex .chezmoi.homeDir "~" }}
# =============================================================================

{{ if eq .chezmoi.os "linux" -}}
{{   fail (printf "File should be removed from the client system: %s" .chezmoi.os) }}
{{- else if eq .chezmoi.os "darwin" -}}
{{   template "assets.d/homebrew/dot_profile.sh.tmpl" . }}
{{   template "assets.d/bash_shared/common.sh.tmpl" . }}
{{   template "assets.d/fastfetch/dot_profile.sh.tmpl" . }}
{{- else if eq .chezmoi.os "windows" -}}
# TODO: Update setup
{{- else -}}
{{   fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{ end -}}
