{{- /* .zprofile script block */ -}}
# -*-mode:zsh-*- vim:ft=zsh

# {{ .chezmoi.targetFile | replaceAllRegex .chezmoi.homeDir "~" }}
# =============================================================================
#

{{- if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) }}
{{ "" }}
{{-  if eq .apps.homebrew.include true -}}
{{ "" }}
{{     template "assets.d/homebrew/dot_profile.sh.tmpl" . }}
{{ "" }}
{{-  end -}}

{{-  if eq .apps.fastfetch.include true -}}
{{ "" }}
{{     template "assets.d/fastfetch/dot_profile.sh.tmpl" . }}
{{ "" }}
{{-  end -}}

{{- else if eq .chezmoi.os "windows" -}}
{{ "" }}
# TODO: Update setup
{{ "" }}
{{- else -}}
{{   fail (printf "❌ Unsupported OS for the client system: %s" .chezmoi.os) }}
{{ end -}}
