{{- $app := "bash" -}}
{{- $config := (index .apps $app) -}}
{{- if (ne $config.include true) -}}
{{   fail (printf "❌ Unsupported app for the client system: %s" $app) }}
{{ end -}}

# -*-mode:bash-*- vim:ft=bash

# {{ .chezmoi.targetFile | replaceAllRegex .chezmoi.homeDir "~" }}
# =============================================================================
#

{{- if eq .chezmoi.os "linux" -}}
{{ "" }}
{{   template "assets.d/dot_profile/linux/build.sh.tmpl" . }}

{{-  if eq .apps.fastfetch.include true -}}
{{ "" }}
{{     template "assets.d/fastfetch/dot_profile.sh.tmpl" . }}
{{-  end -}}

{{- else if eq .chezmoi.os "darwin" -}}
{{ "" }}
{{- else if eq .chezmoi.os "windows" -}}
{{ "" }}
{{- else -}}
{{   fail (printf "❌ Unsupported OS for the client system: %s" .chezmoi.os) }}
{{- end -}}
