# -*-mode:zsh-*- vim:ft=zsh

# {{ .chezmoi.targetFile | replaceAllRegex .chezmoi.homeDir "~" }}
# =============================================================================
#

{{ if eq .chezmoi.os "linux" -}}
{{   template "assets.d/dot_zshrc/linux/build.sh.tmpl" . }}
{{- else if eq .chezmoi.os "darwin" -}}
{{   template "assets.d/dot_zshrc/darwin.sh.tmpl" . }}
{{- else if eq .chezmoi.os "windows" -}}
# TODO: Update setup
{{- else -}}
{{   fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{ end -}}

{{- /* TODO: Replace new style */ -}}
{{- $my_app := .include_app.default -}}
{{- if eq .chezmoi.os "darwin" -}}
{{- $my_app = .include_app.darwin -}}
{{- else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
{{- $my_app = .include_app.ubuntu_wsl -}}
{{- end -}}

{{- if eq $my_app.aws_cli true }}
{{   template "assets.d/aws-cli/dot_zshrc.sh.tmpl" . }}
{{ else -}}
{{- end -}}

{{- if eq $my_app.chezmoi true }}
{{   template "assets.d/chezmoi/dot_zshrc.sh.tmpl" . }}
{{ else -}}
{{- end -}}

{{- if eq $my_app.clipboard_project false }}
{{   template "assets.d/clipboard_project/dot_zshrc.sh.tmpl" . }}
{{ else -}}
{{- end -}}

{{- if eq $my_app.direnv true }}
{{   template "assets.d/direnv/dot_zshrc.sh.tmpl" . }}
{{ else -}}
{{- end -}}

{{- if eq $my_app.fzf true }}
{{   template "assets.d/fzf/dot_zshrc.sh.tmpl" . }}
{{ else -}}
{{- end -}}

{{- if eq $my_app.gopass true }}
{{   template "assets.d/gopass/dot_zshrc.sh.tmpl" . }}
{{ else -}}
{{- end -}}

{{- if eq $my_app.kubectl true }}
{{   template "assets.d/kubectl/dot_zshrc.sh.tmpl" . }}
{{ else -}}
{{- end -}}

{{- if eq $my_app.lsd true }}
{{   template "assets.d/lsd/dot_zshrc.sh.tmpl" . }}
{{ else -}}
{{- end -}}

{{- if eq $my_app.navi true }}
{{   template "assets.d/navi/dot_zshrc.sh.tmpl" . }}
{{ else -}}
{{- end -}}

{{- if eq $my_app.ssh true }}
{{   template "assets.d/ssh/dot_zshrc.sh.tmpl" . }}
{{ else -}}
{{- end -}}

{{- if eq $my_app.xclip true }}
{{   template "assets.d/xclip/dot_zshrc.sh.tmpl" . }}
{{ else -}}
{{- end -}}

{{- if eq $my_app.zoxide true }}
{{   template "assets.d/zoxide/dot_zshrc.sh.tmpl" . }}
{{ else -}}
{{- end -}}
