{{/* .bashrc script block */ -}}
{{/* {{ template "assets.d/dotnet/dot_bashrc.sh.tmpl" . }} */ -}}
{{ template "assets.d/dotnet/header.sh.tmpl" . }}
{{ if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) -}}
export PATH="$PATH:$HOME/.dotnet/tools"

function _dotnet_bash_complete()
{
  local cur="${COMP_WORDS[COMP_CWORD]}" IFS=$'\n' # On Windows you may need to use use IFS=$'\r\n'
  local candidates

  read -d '' -ra candidates < <(dotnet complete --position "${COMP_POINT}" "${COMP_LINE}" 2>/dev/null)

  read -d '' -ra COMPREPLY < <(compgen -W "${candidates[*]:-}" -- "$cur")
}

complete -f -F _dotnet_bash_complete dotnet

{{ template "assets.d/dotnet/aliases.sh.tmpl" . }}

{{- else if eq .chezmoi.os "windows" }}
function _dotnet_bash_complete()
{
  local cur="${COMP_WORDS[COMP_CWORD]}" IFS=$'\n' # On Windows you may need to use use IFS=$'\r\n'
  local candidates

  read -d '' -ra candidates < <(dotnet complete --position "${COMP_POINT}" "${COMP_LINE}" 2>/dev/null)

  read -d '' -ra COMPREPLY < <(compgen -W "${candidates[*]:-}" -- "$cur")
}

complete -f -F _dotnet_bash_complete dotnet

{{ template "assets.d/dotnet/aliases.sh.tmpl" . }}

{{- else -}}
{{   fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{ end -}}
