{{   template "assets.d/powerlevel10k/dot_zshrc.sh.tmpl" . }}

{{   template "assets.d/oh-my-zsh/dot_zshrc.sh.tmpl" . }}

{{   template "assets.d/powerlevel10k/dot_zshrc2.sh.tmpl" . }}

{{   template "assets.d/zsh-autosuggestions/dot_zshrc.sh.tmpl" . }}

{{   template "assets.d/zsh-history-substring-search/dot_zshrc.sh.tmpl" . }}

[ -f "$HOME/.zsh_aliases" ] && source "$HOME/.zsh_aliases"
