{{   template "assets.d/powerlevel10k/dot_zshrc.sh.tmpl" . }}

{{   template "assets.d/oh-my-zsh/dot_zshrc.sh.tmpl" . }}

{{   template "assets.d/powerlevel10k/dot_zshrc2.sh.tmpl" . }}

{{   template "assets.d/zsh-autosuggestions/dot_zshrc.sh.tmpl" . }}

{{   template "assets.d/zsh-history-substring-search/dot_zshrc.sh.tmpl" . }}

[ -f "$HOME/.zsh_aliases" ] && source "$HOME/.zsh_aliases"

{{   template "assets.d/python/dot_zshrc.sh.tmpl" . }}

{{   template "assets.d/dotnet/dot_zshrc.sh.tmpl" . }}

{{   template "assets.d/rust/dot_zshrc.sh.tmpl" . }}

{{   template "assets.d/volta/dot_zshrc.sh.tmpl" . }}

{{   template "assets.d/espanso/dot_zshrc.sh.tmpl" . }}

{{   template "assets.d/fzf/dot_zshrc.sh.tmpl" . }}

{{   template "assets.d/gnupg/dot_zshrc.sh.tmpl" . }}
