{{/* Post configuration for apt install bash-completion */ -}}
# TODO: Move to common and test
# shellcheck source=/dev/null
[[ -f "/etc/profile.d/bash_completion.sh" ]] && source "/etc/profile.d/bash_completion.sh"
