{{/* kubectl .bashrc and .zhrc script block */ -}}
{{/* {{ template "assets.d/_shell/kubectl_shell.sh.tmpl" . }} */ -}}
{{ template "assets.d/_shell/kubectl_header.sh.tmpl" . }}

{{- if (or (and (eq .chezmoi.os "linux") (.is_ubuntu_wsl))
  (eq .chezmoi.os "darwin")
  (eq .chezmoi.os "windows")) }}

if [ -x "$(command -v kubectl)" ]; then

{{- /* Add bash shell completion */ -}}
{{- if eq .shell "bash" }}
{{-   if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "windows")) }}
  source <(kubectl completion {{ .shell }})
{{-   end -}}
{{  end -}}
{{ template "assets.d/_shell/kubectl_aliases.sh.tmpl" .}}
fi

{{- else -}}
{{    fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{  end -}}
