{{/* lsd .bashrc and .zhrc script block */ -}}
{{/* {{ template "assets.d/_shell/lsd_shell.sh.tmpl" . }} */ -}}
{{ template "assets.d/_shell/lsd_header.sh.tmpl" . }}

{{- if (or (and (eq .chezmoi.os "linux") (.is_ubuntu_wsl))
  (eq .chezmoi.os "darwin")
  (eq .chezmoi.os "windows")) }}
{{ template "assets.d/_shell/lsd_aliases.sh.tmpl" .}}

{{- else -}}
{{    fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{  end -}}
