# chemzoi shared ignore patterns for target os

{{ if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) -}}

# Changes found by .chezmoiexternal to ignore
**/.oh-my-zsh/cache/**
**/.oh-my-zsh/custom/themes/powerlevel10k/**/*.zwc

{{ end -}}

## OS specific ignores
{{ if ne .chezmoi.os "linux" -}}
**/linux/**
linux*
{{ end -}}

{{ if ne .chezmoi.os "darwin" -}}
**/darwin/**
**/macos/**
darwin*
macos*
**/Library/**
{{ end -}}

{{ if ne .chezmoi.os "windows" -}}
.minttyrc
**/windows/**
windows*
**/AppData/**
**/Documents/**
**/Documents/PowerShell/**
**/Documents/WindowsPowerShell/**
{{ end -}}

## Application specific ignores

### awscli
{{ if eq .apps.aws_cli.include false }}
{{ end -}}

### bash
{{ if eq .apps.bash.include false }}
.bash*
.profile
{{ end -}}

### chezmoi
{{ if eq .apps.chezmoi.include false }}
{{ end -}}

### clipboard_project
{{ if eq .apps.clipboard_project.include false }}
{{ end -}}

### curl
{{ if eq .apps.curl.include false }}
.curlrc
{{ end -}}

### direnv
{{ if eq .apps.direnv.include false }}
{{ end -}}

### dotnet
{{ if eq .apps.dotnet.include false }}
{{ end -}}

### espanso
{{ if eq .apps.espanso.include false }}
{{ end -}}

### fastfetch
{{ if eq .apps.fastfetch.include false }}
{{ end -}}

### fzf
{{ if eq .apps.fzf.include false }}
{{ end -}}

### git
{{ if eq .apps.git.include false }}
.gitconfig*
.gitignore
.gitmessage
{{ end -}}

### gopass
{{ if eq .apps.gopass.include false }}
{{ end -}}

### gnupg
{{ if eq .apps.gnupg.include false }}
**/.gnupg/**
{{ end -}}

### homebrew
{{ if eq .apps.homebrew.include false }}
{{ end -}}

### kubectl
{{ if eq .apps.kubectl.include false }}
{{ end -}}

### lsd
{{ if eq .apps.lsd.include false }}
**/.config/lsd/**
{{ end -}}

### mintty
{{ if eq .apps.mintty.include false }}
.minttyrc
{{ end -}}

### nano
{{ if eq .apps.nano.include false }}
.nanorc
{{ end -}}

### navi
{{ if eq .apps.navi.include false }}
{{ end -}}

### powershell
{{ if eq .apps.powershell.include false }}
{{  if eq .chezmoi.os "darwin" -}}
{{  else if eq .chezmoi.os "linux" -}}
{{  else if eq .chezmoi.os "windows" -}}
**/Documents/PowerShell/Microsoft.PowerShell_profile.ps1
**/Documents/WindowsPowerShell/Microsoft.PowerShell_profile.ps1
{{  end -}}
{{ end -}}

### python
{{ if eq .apps.python.include false }}
{{ end -}}

### ripgrep
{{ if eq .apps.ripgrep.include false }}
.ripgreprc
{{ end -}}

### SQLite
{{ if (or (not (hasKey .apps "sqlite")) (eq .apps.sqlite.include false)) }}
.sqliterc
{{ end -}}

### ssh
{{ if eq .apps.ssh.include false }}
**/.ssh/**
{{ end -}}

### volta
{{ if (or (not (hasKey .apps "volta")) (eq .apps.volta.include false)) }}
{{ end -}}

### vscode
{{ if eq .apps.vscode.include false }}
{{  if eq .chezmoi.os "darwin" -}}
**/Library/Application Support/Code/**
{{  else if eq .chezmoi.os "linux" -}}
{{  else if eq .chezmoi.os "windows" -}}
**/AppData/Roaming/Code/**
{{  end -}}
{{ end -}}

### wget
{{ if eq .apps.wget.include false }}
.wgetrc
{{ end -}}

### rust
{{ if eq .apps.rust.include false }}
{{ end -}}

### xclip
{{ if eq .apps.xclip.include false }}
{{ end -}}

### zoxide
{{ if eq .apps.zoxide.include false }}
{{ end -}}

### zsh
{{ if eq .apps.zsh.include false }}
/.zsh*
/.zprofile
# TODO: Add more conditions
/.p10k.zsh
{{ end -}}
