# chemzoi shared ignore patterns for target so

{{ if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) -}}

# Changes found by .chezmoiexternal to ignore
**/.oh-my-zsh/cache/**
**/.oh-my-zsh/custom/themes/powerlevel10k/**/*.zwc

{{ end -}}

## OS specific ignores
{{ if ne .chezmoi.os "linux" -}}
**/linux/**
linux*
{{ end -}}

{{ if ne .chezmoi.os "darwin" -}}
**/darwin/**
**/macos/**
darwin*
macos*
**/Library/**
{{ end -}}

{{ if ne .chezmoi.os "windows" -}}
.minttyrc
**/windows/**
windows*
**/AppData/**
**/Documents/**
**/Documents/PowerShell/**
**/Documents/WindowsPowerShell/**
{{ end -}}

## Application specific ignores
{{- $my_app := .include_app.default -}}
{{- if eq .chezmoi.os "darwin" -}}
{{- $my_app = .include_app.darwin -}}
{{- else if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
{{- $my_app = .include_app.ubuntu_wsl -}}
{{- else if eq .chezmoi.os "windows" -}}
{{- $my_app = .include_app.windows -}}
{{- end -}}

### awscli
{{ if eq $my_app.aws_cli false }}
{{ end -}}

### bash
{{ if eq $my_app.bash false }}
.bash*
.profile
{{ end -}}

### chezmoi
{{ if eq $my_app.chezmoi false }}
{{ end -}}

### clipboard_project
{{ if eq $my_app.clipboard_project false }}
{{ end -}}

### curl
{{ if eq $my_app.curl false }}
.curlrc
{{ end -}}

### direnv
{{ if eq $my_app.direnv false }}
{{ end -}}

### dotnet
{{ if eq $my_app.dotnet false }}
{{ end -}}

### espanso
{{ if eq $my_app.espanso false }}
{{ end -}}

### fastfetch
{{ if eq $my_app.fastfetch false }}
{{ end -}}

### fzf
{{ if eq $my_app.fzf false }}
{{ end -}}

### git
{{ if eq $my_app.git false }}
.gitconfig*
.gitignore
.gitmessage
{{ end -}}

### gopass
{{ if eq $my_app.gopass false }}
{{ end -}}

### gnupg
{{ if eq $my_app.gnupg false }}
{{ end -}}

### homebrew
{{ if eq $my_app.homebrew false }}
{{ end -}}

### kubectl
{{ if eq $my_app.kubectl false }}
{{ end -}}

### lsd
{{ if eq $my_app.lsd false }}
**/.config/lsd/**
{{ end -}}

### mintty
{{ if eq $my_app.mintty false }}
.minttyrc
{{ end -}}

### nano
{{ if eq $my_app.nano false }}
.nanorc
{{ end -}}

### navi
{{ if eq $my_app.navi false }}
{{ end -}}

### python
{{ if eq $my_app.python false }}
{{ end -}}

### ripgrep
{{ if eq $my_app.ripgrep false }}
.ripgreprc
{{ end -}}

### ssh
{{ if eq $my_app.ssh false }}
**/.ssh/**
{{ end -}}

### volta
{{ if eq $my_app.volta false }}
{{ end -}}

### wget
{{ if eq $my_app.wget false }}
.wgetrc
{{ end -}}

### rust
{{ if eq $my_app.rust false }}
{{ end -}}

### xclip
{{ if eq $my_app.xclip false }}
{{ end -}}

### zoxide
{{ if eq $my_app.zoxide false }}
{{ end -}}
