[user]
	email = canonw@users.noreply.github.com
	name = Ken Wong
[push]
	default = simple
[color]
	ui = auto
	branch = auto
	status = auto
[core]
	editor = vi
#	excludesfile = C:\\Users\\ken\\Documents\\gitignore_global.txt
#	editor = \"C:/Program Files (x86)/GitExtensions/GitExtensions.exe\" fileeditor
[diff]
	tool = bc3 
[difftool "bc3"]
	trustExitCode = true
[difftool]
	prompt = false
[merge]
	tool = bc3
[mergetool "bc3"]
	trustExitCode = true
# [mergetool "kdiff3"]
# 	path = C:/Program Files/KDiff3/kdiff3.exe
# [mergetool "p4merge"]
# 	path = C:/Program Files/Perforce/p4merge.exe
# [difftool "p4merge"]
# 	path = C:/Program Files/Perforce/p4merge.exe
# [difftool "bc3"]
# 	path = C:/Program Files/Beyond Compare 4/BCompare.exe
# [mergetool "bc3"]
# 	path = C:/Program Files/Beyond Compare 4/bcomp.exe
# [difftool "emacs"]
# 	cmd = C:/emacs/bin/runemacs.exe --eval \"(ediff-files \"$LOCAL\" \"$REMOTE\")\"
[push]
	default = simple
[alias]
	amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
	cm = commit -v
	cm-a = !git add -A && git commit -m
        cm-aq = !git add -A && git commit -m \"Update from $(echo `uname -a | awk '{print $2}'`) on $(echo `date +%FT%T%Z`)\"
	co = checkout
	co-b = checkout -b
	pl = pull
	pl-r = pull --rebase
	mm = merge --no-ff
	up = !git fetch origin && git rebase origin/master
	ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >>.gitignore
	lg = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate
	lg-f = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --numstat
	lg-d = log --pretty=format:\"%C(yellow)%h\\\\ %ad%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --date=short
	lg-r = log --pretty=format:\"%C(yellow)%h\\\\ %ad%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --date=relative
	lg-g = log --pretty=format:\"%C(yellow)%h\\\\ %C(green)%ad%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --date=short --graph
	df-s = diff --stat
	df-c = diff --cached
	al-lst = !git config -l | grep alias | sort | cut -c 7-
	wipe = "!sh -c \" !git add -A && git commit -qm '$1' && git reset HEAD~1 --hard\" "
	w1 = "!f() { !git add -A && git commit -qm \"$1\" ; };f"
        # WIP root="cd $(git rev-parse --show-toplevel)"
[gitflow "branch"]
	master = master
	develop = develop
[gitflow "prefix"]
	feature = feature/
	release = release/
	hotfix = hotfix/
	support = support/
	versiontag = v