{{/* .bashrc script block */ -}}
{{/* {{ template "assets.d/espanso/dot_bashrc.sh.tmpl" . }} */ -}}
{{ template "assets.d/espanso/header.sh.tmpl" . }}
{{- if eq .chezmoi.os "linux" -}}
# TODO: Update setup
{{- else if eq .chezmoi.os "darwin" -}}
{{   template "assets.d/espanso/aliases.sh.tmpl" . }}

{{- else if eq .chezmoi.os "windows" }}
{{    template "assets.d/espanso/aliases.sh.tmpl" . }}
{{- else -}}
{{    fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{  end -}}
