#!/usr/bin/env bash
# -*-mode:bash-*- vim:ft=bash

# {{ .chezmoi.targetFile | replaceAllRegex .chezmoi.homeDir "~" }}
# =============================================================================
# Install packages using npm

{{ if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) -}}

{{ template "shared_script_utils.bash" . }}

packages=(
    {{- range $package := .packages.nodejs.common.packages }}
    "{{ $package }}"
    {{ end -}}
    )

function install_npm_packages() {
    for package in "${packages[@]}"; do
        info "Installing ${package}"
        npm install -g "${package}"
        info "Installed ${package}"
    done
}

function uninstall_npm_packages() {
    for package in "${packages[@]}"; do
        npm uninstall -g "${package}"
    done
}

function main() {
    header "Installing packages with npm"
    install_npm_packages
    success "npm packages installed"
}

if [ ${#BASH_SOURCE[@]} = 1 ]; then
    main
fi

_safeExit_

{{ end -}}
