{{/* Header script block */ -}}
{{/* {{ template "assets.d/zsh-history-substring-search/header.sh.tmpl" . }} */ -}}
#              __          __    _      __
#  ____  _____/ /_        / /_  (_)____/ /_____  _______  __      _______  __
# /_  / / ___/ __ \______/ __ \/ / ___/ __/ __ \/ ___/ / / /_____/ ___/ / / /
#  / /_(__  ) / / /_____/ / / / (__  ) /_/ /_/ / /  / /_/ /_____(__  ) /_/ /
# /___/____/_/ /_/     /_/ /_/_/____/\__/\____/_/   \__, /     /____/\__,_/
#                                                  /____/
#
# zsh-history-substring-search
# https://github.com/zsh-users/zsh-history-substring-search