{{/* Header script block */ -}}
{{/* {{ template "assets.d/xclip/header.sh.tmpl" . }} */ -}}
#               ___
#    _  _______/ (_)___
#   | |/_/ ___/ / / __ \
#  _>  </ /__/ / / /_/ /
# /_/|_|\___/_/_/ .___/
#              /_/
#
# xclip
# https://github.com/astrand/xclip