{{/* {{ template "assets.d/dot_bash_aliases/common.sh.tmpl" . }} */ -}}
{{ if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") (eq .chezmoi.os "windows")) -}}
# Enhance standard commands to improve their behavior
# -----------------------------------------------------------------------------

# Displays drives and space in human readable format.
alias df='df -h'

# Prints disk usage per directory non-recursively, in human readable format.
alias du='du -h -d1'

# Creates parent directories on demand.
alias mkdir='mkdir -pv'


## Directory browsing
# -----------------------------------------------------------------------------

# Navigate to the last used directory.
alias cd-='cd -'

# Navigate to parent directory.
alias ..='cd ..'

# Navigate to 2nd level directory.
alias ...='cd ../..'

# Navigate to 3nd level directory.
alias ....='cd ../../..'

# Navigate to 4th level directory.
alias .....='cd ../../../../'
alias .4='cd ../../../../'

# Navigate to 5th level directory.
alias .5='cd ../../../../..'

# Navigate to user download.
alias .dls='cd $HOME/Downloads'

# Navigate to user document.
alias .docs='cd $HOME/Documents'

# Navigate to user desktop.
alias .dt='cd $HOME/Desktop'

# Navigates to Powershell's profile location.
if [[ "$OSTYPE" =~ ^(cygwin|mingw|msys) ]]; then
    alias .pwsh='cd $HOME/Documents/PowerShell'
else
    alias .pwsh='cd $HOME/.config/powershell'
fi

# system: Echo all executable Paths
alias path='echo -e ${PATH//:/\\n}'

# system: Echo fpath
alias fpath='echo -e ${FPATH//:/\\n}'


# File management
# -----------------------------------------------------------------------------

# Copies a file securely.
alias cpv='rsync -ah --info=progress2'

# Finds directories.
alias fd='find . -type d -name'

# Finds files.
alias ff='find . -type f -name'

# Extract tar.gz file
alias untar='tar -zxvf'

# Create a tar.gz file
alias mktar='tar -cvzf'

# Count of non-hidden files in current dir
alias numfiles='echo $(ls -1 | wc -l)'


# Time
# -----------------------------------------------------------------------------

# Gets local/UTC date and time in ISO-8601 format `YYYY-MM-DDThh:mm:ss`.
alias now='date +"%Y-%m-%dT%H:%M:%S"'
alias unow='date -u +"%Y-%m-%dT%H:%M:%S"'

# Gets date in `YYYY-MM-DD` format`
alias nowdate='date +"%Y-%m-%d"'
alias unowdate='date -u +"%Y-%m-%d"'

# Gets time in `hh:mm:ss` format`
alias nowtime='date +"%T"'
alias unowtime='date -u +"%T"'

# Gets Unix time stamp`
alias timestamp='date -u +%s'

# Gets week number in ISO-8601 format `YYYY-Www`.
alias week='date +"%Y-W%V"'

# Gets weekday number.
alias weekday='date +"%u"'

# Networking
# -----------------------------------------------------------------------------

# Pings hostname(s) 30 times in quick succession.
if [[ "$OSTYPE" =~ ^(cygwin|mingw|msys) ]]; then
    alias fastping='ping -n 30'
else
    alias fastping='ping -c 30 -i.2'
fi

# Flushes the DNS cache.
if [[ "$OSTYPE" =~ ^darwin ]]; then
    alias flushdns='dscacheutil -flushcache; sudo killall -HUP mDNSResponder;echo DNS cache flushed'
elif [[ "$OSTYPE" =~ ^(cygwin|mingw|msys) ]]; then
    alias flushdns='ipconfig //flushdns'
else
    alias flushdns='sudo /etc/init.d/dns-clean restart && echo DNS cache flushed'
fi

# Gets all IP addresses.
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Gets local IP address.
if [[ "$OSTYPE" =~ ^darwin ]]; then
    alias localip='ipconfig getifaddr en0'
elif [[ "$OSTYPE" =~ ^(cygwin|mingw|msys) ]]; then
    # shellcheck disable=SC2142
    alias localip="netstat -rn | grep -w '0.0.0.0' | awk '{ print \$4 }'"
else
    alias localip="ip route get 1 | awk '{print \$NF;exit}'"
fi

# Gets external IP address.
if command -v dig &> /dev/null; then
    alias publicip='dig +short myip.opendns.com @resolver1.opendns.com'
elif command -v curl > /dev/null; then
    alias publicip='curl --silent --compressed --max-time 5 --url "https://ipinfo.io/ip"'
else
    alias publicip='wget -qO- --compression=auto --timeout=5 "https://ipinfo.io/ip"'
fi


# Power management
# -----------------------------------------------------------------------------

# Locks the session.
if [[ "$OSTYPE" =~ ^darwin ]]; then
    alias lock='pmset displaysleepnow'
elif [[ "$OSTYPE" =~ ^(cygwin|mingw|msys) ]]; then
    alias lock='rundll32.exe user32.dll,LockWorkStation'
elif command -v vlock &> /dev/null; then
    alias lock='vlock --all'
elif command -v gnome-screensaver-command &> /dev/null; then
    alias lock='gnome-screensaver-command --lock'
fi

# Hibernates the system.
if [[ "$OSTYPE" =~ ^darwin ]]; then
    alias hibernate='pmset sleep now'
elif [[ "$OSTYPE" =~ ^(cygwin|mingw|msys) ]]; then
    alias hibernate='shutdown.exe /h'
else
    alias hibernate='systemctl suspend'
fi

# Restarts the system.
if [[ "$OSTYPE" =~ ^darwin ]]; then
    alias reboot='osascript -e "tell application \"System Events\" to restart"'
elif [[ "$OSTYPE" =~ ^(cygwin|mingw|msys) ]]; then
    alias reboot='shutdown.exe /r'
else
    alias reboot='sudo /sbin/reboot'
fi

# Shuts down the system.
if [[ "$OSTYPE" =~ ^darwin ]]; then
    alias poweroff='osascript -e "tell application \"System Events\" to shut down"'
elif [[ "$OSTYPE" =~ ^(cygwin|mingw|msys) ]]; then
    alias poweroff='shutdown.exe /s'
else
    alias poweroff='sudo /sbin/poweroff'
fi


# Sysadmin
# -----------------------------------------------------------------------------

# Lists drive mounts.
if [[ "$OSTYPE" =~ ^darwin ]]; then
    alias mnt='mount | grep -E ^/dev | column -t'
elif [[ "$OSTYPE" =~ ^(cygwin|mingw|msys) ]]; then
    alias mnt='mount | sed "s/Program Files/Program-Files/i" | column -t'
else
    # shellcheck disable=SC2142
    alias mnt="mount | awk -F' ' '{ printf \"%s\t%s\n\",\$1,\$3; }' | column -t | egrep ^/dev/ | sort"
fi

# Prints each $PATH entry on a separate line.
alias path='echo -e ${PATH//:/\\n}'

# Displays information about the system.
for command in winfetch neofetch screenfetch; do
    if type $command &> /dev/null; then
        alias sysinfo='$command'
        break
    fi
done

# Applications
# -----------------------------------------------------------------------------

# Opens file/URL (in) browsers.
if [[ "$OSTYPE" =~ ^darwin ]]; then
    alias browse='open'
    alias chrome='open -a Google\ Chrome'
    alias edge='open -a Microsoft\ Edge'
    alias firefox='open -a Firefox'
    alias opera='open -a Opera'
    alias safari='open -a Safari'
elif [[ "$OSTYPE" =~ ^(cygwin|mingw|msys) ]]; then
    alias browse='start'
    alias chrome='start chrome'
    alias edge='microsoft-edge'
    alias iexplore='start iexplore'
    alias firefox='start firefox'
    alias opera='start opera'
    #alias safari='start safari'
else
    alias browse='x-www-browser' #xdg-open
    alias chrome='chromium'
    #alias edge='microsoft-edge'
    #alias firefox='firefox'
    #alias opera='opera'
    #alias safari='safari'
fi

# Development
# -----------------------------------------------------------------------------

# Activates Python virtual environment `venv`.
alias va='if [ -d ./.venv ]; then \. ./.venv/bin/activate; elif [ -d ./venv ]; then \. ./venv/bin/activate; fi'

# Creates Python virtual environment `venv`.
alias ve='python3 -m venv ./.venv'

# macOS
# -----------------------------------------------------------------------------

if [[ "$OSTYPE" =~ ^darwin ]]; then
    # Toggles display of desktop icons.
    alias hidedesktop='defaults write com.apple.finder CreateDesktop -bool false && killall Finder'
    alias showdesktop='defaults write com.apple.finder CreateDesktop -bool true && killall Finder'

    # Toggles hidden files in Finder.
    alias hidefiles='defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder'
    alias showfiles='defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder'

    # Toggles Spotlight.
    alias spotoff='sudo mdutil -a -i off'
    alias spoton='sudo mdutil -a -i on'
fi

# Various
# -----------------------------------------------------------------------------

# Calculates MD5 hashes.
if ! command -v md5sum > /dev/null; then
    if command -v md5 > /dev/null; then
        alias md5sum='md5 -r'
    else
        alias md5sum='openssl md5 -r'
    fi
fi

# Calculates SHA1 hashes.
if ! command -v sha1sum > /dev/null; then
    if command -v shasum > /dev/null; then
        alias sha1sum='shasum -a 1 -p'
    else
        alias sha1sum='openssl sha1 -r'
    fi
fi

# Calculates SHA256 hashes.
if ! command -v sha256sum > /dev/null; then
    if command -v shasum > /dev/null; then
        alias sha256sum='shasum -a 256 -p'
    else
        alias sha256sum='openssl sha256 -r'
    fi
fi


# Displays detailed weather and forecast.
if command -v curl > /dev/null; then
    alias forecast='curl --silent --compressed --max-time 10 --url "https://wttr.in?F"'
else
    alias forecast='wget -qO- --compression=auto --timeout=10 "https://wttr.in?F"'
fi

# Displays current weather.
if command -v curl > /dev/null; then
    alias weather='curl --silent --compressed --max-time 10 --url "https://wttr.in/?format=%l:+(%C)+%c++%t+\[%h,+%w\]"'
else
    alias weather='wget -qO- --compression=auto --timeout=10 "https://wttr.in/?format=%l:+(%C)+%c++%t+\[%h,+%w\]"'
fi
{{- end -}}
