## Directory
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'
# alias .docg='cd ~/Documents/git'
alias .doc='cd ~/Documents'
# alias .espanso='.dhd && cd home/.config/espanso/'