{{ if ne .chezmoi.os "darwin" -}}
{{   fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{ end -}}
[ -f "$HOME/.bash_aliases" ] && source "$HOME/.bash_aliases"

{{   template "assets.d/dot_bashrc/common/bash_completion.sh.tmpl" . }}

{{   template "assets.d/python/dot_bashrc.sh.tmpl" . }}

{{   template "assets.d/dotnet/dot_bashrc.sh.tmpl" . }}

{{   template "assets.d/rust/dot_bashrc.sh.tmpl" . }}

{{   template "assets.d/volta/dot_bashrc.sh.tmpl" . }}
