{{/* .zshrc script block */ -}}
{{/* {{ template "assets.d/kubectl/dot_zshrc.sh.tmpl" . }} */ -}}
{{ template "assets.d/kubectl/header.sh.tmpl" . }}
{{ if eq .chezmoi.os "linux" -}}
{{-  if (and (eq .chezmoi.osRelease.id "ubuntu") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
{{    template "assets.d/kubectl/aliases.sh.tmpl" . }}
{{-  else -}}
{{    fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{-  end -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{    template "assets.d/kubectl/aliases.sh.tmpl" . }}
{{- else if eq .chezmoi.os "windows" -}}
# TODO: Update setup windows kubectl
{{- else -}}
{{    fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{ end -}}
