{{/* .zshrc script block */ -}}
{{/* {{ template "assets.d/kubectl/dot_zshrc.sh.tmpl" . }} */ -}}
{{ template "assets.d/kubectl/header.sh.tmpl" . }}
{{ if eq .chezmoi.os "linux" -}}
# TODO: Update setup
{{- else if eq .chezmoi.os "darwin" -}}
# TODO: Update setup
{{- else if eq .chezmoi.os "windows" -}}
# TODO: Update setup
{{- else -}}
{{   fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{ end -}}
