{{/* shell alias script block */ -}}
{{/* {{ template "assets.d/gnupg/aliases.sh.tmpl" . }} */ -}}
{{ if eq .chezmoi.os "linux" -}}
{{-  if eq .chezmoi.osRelease.id "ubuntu" -}}
# TODO: Update setup ubuntu gnupg
{{-    if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
# TODO: Update setup wsl gnupg
{{-    else -}}
# TODO: Update setup non-wsl gnupg
{{-    end -}}
{{-  else -}}
# TODO: Update setup non-ubuntu gnupg
{{-  end -}}
{{- else if eq .chezmoi.os "darwin" -}}
# TODO: Update setup darwin gnupg
{{- else if eq .chezmoi.os "windows" -}}
# TODO: Update setup windows gnupg
{{- else -}}
{{   fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{ end -}}
