{{/* gpg-agent.conf script block */ -}}
{{/* {{ template "assets.d/gnupg/gpg-agent.conf.tmpl" . }} */ -}}
{{ if eq .chezmoi.os "linux" -}}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}

pinentry-program "/mnt/c/Program Files (x86)/GnuPG/bin/pinentry-basic.exe"

{{-  else -}}

# TODO: Update setup

{{-  end -}}

{{- else if eq .chezmoi.os "darwin" -}}

pinentry-program /opt/homebrew/bin/pinentry-mac

{{- else if eq .chezmoi.os "windows" -}}

# TODO: Update setup

{{- else -}}
{{   fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{ end -}}
