{{/* Header script block */ -}}
{{/* {{ template "assets.d/python/header.sh.tmpl" . }} */ -}}
#                  __  __
#     ____  __  __/ /_/ /_  ____  ____
#    / __ \/ / / / __/ __ \/ __ \/ __ \
#   / /_/ / /_/ / /_/ / / / /_/ / / / /
#  / .___/\__, /\__/_/ /_/\____/_/ /_/
# /_/    /____/
#
# python