{{ if eq .chezmoi.os "windows" -}}
{{ (joinPath .chezmoi.sourceDir ".config" "vscode" "User" "snippets" ) }}
{{ else -}}
{{   fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{ end -}}
