{{/* Header script block */ -}}
{{/* {{ template "assets.d/lsd/header.sh.tmpl" . }} */ -}}
{{ if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") (eq .chezmoi.os "windows")) -}}
#     __         __
#    / /________/ /
#   / / ___/ __  /
#  / (__  ) /_/ /
# /_/____/\__,_/
#
#
# lsd
{{- else -}}
{{   fail (printf "Unsupported OS for the client system: %s" .chezmoi.os) }}
{{ end -}}
