{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
{{   template "assets.d/dot_bashrc/linux/ubuntu/default.sh.tmpl" . }}

{{   template "assets.d/dot_bashrc/linux/ubuntu/bash_completion.sh.tmpl" . }}
{{- end -}}
{{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{ end -}}
