{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
{{   template "assets.d/dot_bashrc/linux/ubuntu/default.sh.tmpl" . }}

{{   template "assets.d/dot_bashrc/linux/ubuntu/bash_completion.sh.tmpl" . }}

{{   template "assets.d/python/dot_bashrc.sh.tmpl" . }}

{{   template "assets.d/dotnet/dot_bashrc.sh.tmpl" . }}

{{   template "assets.d/rust/dot_bashrc.sh.tmpl" . }}

{{   template "assets.d/volta/dot_bashrc.sh.tmpl" . }}
# TODO: Add k8s and gunpg
{{- end -}}
{{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{ end -}}
